
@model RS1_2020_01_30.ViewModels.AjaxUrediDodajVM

    <div class="row">
        <div class="col-md-2">

            <form asp-action="Snimi">
                <input asp-for="TakmicenjeID" hidden />
                <select class="form-control" asp-for="@Model.UcesnikID" asp-items="@Model.Ucesnici"></select><br />
                <input class="form-control" type="number" asp-for="@Model.Bodovi" /><br />


                <input type="submit" value="Snimi" class="btn btn-default" />
            </form>

        </div>
    </div>


